<!DOCTYPE html>
<html lang="en">
<head>
<title>Tell us Your Story</title>
<% include partials/Head.ejs %>
</head>

<body>
<div id="wrapper">
<% include partials/SideMenu.ejs %>
<div id="page-content-wrapper">
  <div class="container-fluid">

      <div class="col-md-12">
        <h1 class="text text-center text-capitalize"> Stories to be told</h1><br/><br/>

        <blockquote class="text text-justify well">
          This site is mainly for those people who want's to share their
          <code>achivements</code>,<code> success</code>, <code>happniness</code> and <code>sadness</code> with all the people
          in the world. To read stories <a href="/stories">click here</a> and to creat your own stories login or signup.
        </blockquote>

        <blockquote class="text text-justify well">
          There are only two ways to live your life. One is as though nothing is a miracle.
          The other is as though everything is a miracle.
          <footer><mark>― Albert Einstein<mark></footer>
        </blockquote>

      </div>
    </div>
  </div>


</div>
<% include partials/Footer.ejs %>
</body>
</html>
